body{

background:#f5f5f5;

}

.topo{

background:#5b21b6;

padding:20px;

}

.logo{

font-size:32px;

font-weight:bold;

color:white !important;

}

.busca{

width:50%;

}

.categorias{

background:white;

padding:15px;

box-shadow:0 2px 8px rgba(0,0,0,.1);

}

.categorias .container{

display:flex;

justify-content:space-around;

}

.categorias a{

text-decoration:none;

color:#555;

font-weight:bold;

}

.banner{

height:350px;

background:linear-gradient(
90deg,
#5b21b6,
#7c3aed
);

color:white;

display:flex;

align-items:center;

}

.banner h1{

font-size:55px;

font-weight:bold;

}

.card{

border:none;

border-radius:20px;

overflow:hidden;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}