{% extends 'base.html' %}

{% block conteudo %}

<div class="container">

<div class="card shadow p-4">

<h2>

Minha Conta

</h2>

<hr>

<h4>

Usuário:
{{current_user.username}}

</h4>

<p>

Cargo:
{{current_user.role}}

</p>

{% if current_user.foto %}

<img
src="{{ url_for(
'static',
filename='uploads/' + current_user.foto
)}}"

width="120"
class="rounded-circle">

{% endif %}

</div>


{% if current_user.role=="Admin" %}

<div class="card shadow p-4 mt-4 border-danger">

<h2>

🔒 Painel Admin

</h2>

<table class="table">

<tr>

<th>ID</th>
<th>Usuário</th>
<th>Cargo</th>
<th>Status</th>
<th>Ações</th>

</tr>

{% for u in usuarios %}

<tr>

<td>

{{u.id}}

</td>

<td>

{{u.username}}

</td>

<td>

{{u.role}}

</td>

<td>

{% if u.banido %}

<span class="badge bg-danger">

Banido

</span>

{% else %}

<span class="badge bg-success">

Ativo

</span>

{% endif %}

</td>

<td>

<a
href="/promover/{{u.id}}"
class="btn btn-warning btn-sm">

Admin

</a>

<a
href="/banir/{{u.id}}"
class="btn btn-danger btn-sm">

Banir

</a>

</td>

</tr>

{% endfor %}

</table>

</div>

{% endif %}

</div>

{% endblock %}